@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  color:#000;
  height: 100%;
}

.wrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100%;
}

.button {
  display: block;
  min-width: 140px;
  max-width: 574px;
  padding: 9px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #756157;
  cursor: pointer;
  border-radius: 4px;
}

/*header*/
.page-header {
  display: flex;
  width: 100%;
  padding: 0 70px;
}

.navigation {
  display: flex;
  width: 100%;
  font-weight: 700;
  margin-left: 30px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}

.navigation-user {
  max-width: 350px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
}

.navigation-user .navigation-link {
  min-width: 19px;
  min-height: 19px;
  padding: 22px 12px;
}

.search-link:before {
  content: url("../images/icons/search-icon.svg");
}

.favorite-link:before {
  content: url("../images/icons/favorite-icon.svg");
}

.navigation-user .button {
  min-width: 160px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
}

/*index*/
.main-index {
  flex: 1 1 100%;
  text-align: center;
}

.welcome {
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-color: #9ba4e5;
  background-size: 100% auto;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantages-promo {
  display: block;
  width: 627px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-subtitle {
  display: block;
  width: 658px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  list-style: none;
}

.advantages-special-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-important-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.advantages-important-item:nth-child(2) .advantages-image {
  order: -1;
}

.advantages-important-item-wrapper {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 1);
}

.advantages-item {
  max-width: 400px;
  min-height: 384px;
  padding: 10px;
}

 .advantages-title {
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
 }

 .advantages-image {
   display: block;
 }

 .advantages-item-semi-blue-light {
   background-color: rgba(131, 179, 211, 0.12);
 }

 .advantages-item-semi-blue-dark {
   background-color: rgba(131, 179, 211, 0.2);
 }

 .offer-title {
   margin: 0;
   padding: 0;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
 }

 .offer-description {
   display: block;
   width: 592px;
   margin: 0 auto;
   font-size: 22px;
   line-height: 26px;
 }

 .button-offer {
   font-size: 20px;
   line-height: 36px;
 }

 .subscribe {
   height: 411px;
   background-image: url("../images/subscribe-background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #85aaba;
   color: rgba(255, 255, 255, 1);
 }

 .subscribe-title {
   margin: 0;
   padding: 0;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
 }

 .subscribe-description {
   display: inline-block;
   width: 446px;
 }

 .subscribe-form input[type=email] {
   font-family: "PT Sans", sans-serif;
   padding-left: 22px;
 }

 .button-subscribe {
   font-size: 20px;
   line-height: 36px;
   background-color: #82B3D3;
 }

/*footer*/
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.footer-contacts-list {
  padding: 0;
  margin: 0;
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
}

.phone-number-link {
  text-decoration: none;
  color: #000;
}

/*catalog*/
.catalog-header {
  width: 100%;
  padding: 35px 70px 70px 70px;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-color: #396487;
  background-size: cover;
  color: #fff;
}

.catalog-title {
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.catalog-filters-form {
  display: flex;
  width: 100%;
}

.catalog-filters-form fieldset {
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filters-group-infrastructure {
  width: 151px;
  margin: 0 70px 0 0;
}

.catalog-filters-group-type {
  width: 146px;
}

.catalog-filters-group-price {
  width: 288px;
  margin: 0 70px 0 auto;
}

.form-buttons-container {
  width: 160px;
}

.button-apply-filters {
  background-color: #82B3D3;
}

.button-reset-filters {
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 400;
}

.catalog-sort {
  display: flex;
  width: 1057px;
  margin: 0 71px 0 72px;
}

.search-results-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-sort-select {
  width: 287px;
  margin:0 81px 0 191px;
  font: inherit;
}

.catalog-sort-view-controls {
  display: flex;
}

.view-button {
  display: block;
  padding: 17px 16px;
}

.view-button:not(:last-child) {
  margin-right: 8px;
}

.catalog-hotels-list {
  margin: 0 72px;
  padding: 0;
  width: 1057px;
}

.button-add-favorite {
  background-color: #82B3D3;
}

.button-in-favorite {
  background-color: #7DB54F;
}

.catalog-pages-controls {
  display: flex;
  width: 1057px;
  margin: 0 72px;
  justify-content: space-between;
}

.catalog-pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.catalog-pagination-item {
  display: flex;
}

.catalog-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.catalog-pagination-link {

}

.current-hotels-amount {
  width: 160px;
  height: 49px;
  padding-left: 20px;
}

.catalog-subscribe {
  text-align: center;
  background-image: none;
  background-color: inherit;
  color: #000;
}
