@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  color:#000;
  height: 100%;
  counter-reset: advantage-count;
}

.wrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: block;
  min-width: 60px;
  max-width: 574px;
  padding: 9px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #756157;
  cursor: pointer;
  border-radius: 4px;
}

.button-redirect {
  background-color: #756157;
}

.button-redirect:hover,
.button-redirect:focus{
  background-color: #615048;
}

.button-redirect:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-action {
  background-color: #82B3D3;
}

.button-action:hover,
.button-action:focus {
  background-color: #68A2CA;
}

.button-action:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-selected {
  background-color: #7DB54F;
}

.button-selected:hover,
.button-selected:focus {
  background-color: #6C9E42;
}

.button-selected:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button:disabled:hover {
  background-color: #e5e5e5;
}

.button-disabled,
.button-disabled:hover{
  background-color: #e5e5e5;
  cursor: default;
  pointer-events: none;
}

/*header*/
.page-header {
  display: flex;
  width: 100%;
  padding: 0 70px;
  margin-bottom: -1px;
  z-index: 1;
}

.header-link-logo {
  display: block;
  width: 139px;
  height: 65px;
  position: relative;
}

.header-logo {
  display: block;
  max-width: fit-content;
}

.navigation {
  display: flex;
  width: 100%;
  font-weight: 700;
  margin-left: 47px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}

.navigation-user {
  max-width: 350px;
  margin-left: auto;
}

.navigation-list .navigation-item:not(:last-child) {
  margin-right: 34px;
}

.navigation-link {
  display: block;
  padding: 20px 0 19px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
}

.navigation-link:hover {
  color: rgba(0, 0, 0, 0.51);
}

.navigation-link:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.51);
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
  padding-bottom: 17px;
}

.favorite-link,
.search-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  min-width: 42px;
  min-height: 65px;
}

.navigation-link svg {
  fill: #000;
}

.navigation-link:hover svg,
.navigation-link:focus svg {
  fill: rgba(0, 0, 0, 0.51);
}

.favorite-count {
  display: block;
  position: absolute;
  width: 20px;
  border-radius: 10px;
  height: 20px;
  top: 15px;
  left: 24px;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding-top: 3px;
}

.navigation-user .button {
  min-width: 160px;
  margin-top: 14px;
  margin-bottom: 13px;
  margin-left: 20px;
}

/*index*/
.main-index {
  flex: 1 1 100%;
  text-align: center;
}

.welcome {
  position: relative;
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-color: #9ba4e5;
  background-size: cover;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 63px;
}

.welcome::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  clip-path: polygon(0 100%, 0 0, 20% 42%, 20% 0, 50% 100%, 79% 0, 79% 42%, 100% 0, 100% 100%);
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  margin-bottom: 91px;
}

.advantages-promo {
  display: block;
  max-width: 627px;
  margin: 0 auto 31px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-subtitle {
  display: block;
  max-width: 658px;
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  list-style: none;
}

.advantages-sub-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 384px;
  padding: 50px 50px;
}

.advantages-important-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.advantages-important-item:nth-child(2) .advantages-image {
  order: -1;
}

.advantages-important-item-content {
  position: relative;
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 1);
}

 .advantages-title {
   width: 175px;
   margin: 0 auto 30px auto;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
 }

.advantages-title:after {
  display: block;
  counter-increment: advantage-count;
  content: "— №"counter(advantage-count)"—";
  margin-top: 30px;
  font-size: 18px;
  line-height: 21px;
  font-weight:400;
}

 .advantages-sub-list-title {
   margin: 0 0 30px 0;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
 }

 .advantage-home:before {
   content: "";
   background-image: url("../images/icons/advantage-home-icon.svg");
   background-size: 75px 72px;
   width: 75px;
   height: 72px;
   margin: 0 auto 30px;
 }

 .advantage-food:before {
   content: "";
   background-image: url("../images/icons/advantage-burger-icon.svg");
   background-size: 75px 72px;
   width: 75px;
   height: 72px;
   margin: 0 auto 30px;
 }

 .advantage-present:before {
   content: "";
   background-image: url("../images/icons/advantage-present-icon.svg");
   background-size: 75px 72px;
   width: 75px;
   height: 72px;
   margin: 0 auto 30px;
 }

 .advantages-description {
   font: inherit;
   width: 233px;
   margin: 0 auto;
 }

 .advantages-image {
   display: block;
 }

 .advantage-semi-blue-light {
   background-color: rgba(131, 179, 211, 0.12);
 }

 .advantage-semi-blue-dark {
   background-color: rgba(131, 179, 211, 0.2);
 }

 .offer-title {
   margin: 0 0 29px 0;
   padding: 0;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
 }

 .offer-description {
   display: block;
   width: 592px;
   margin: 0 auto 56px;
   font-size: 22px;
   line-height: 26px;
 }

 .button-offer {
   font-size: 20px;
   line-height: 36px;
   margin:  0 auto 93px;
 }

 .subscribe {
   padding: 94px 200px;
   background-image: url("../images/subscribe-background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #85aaba;
   color: rgba(255, 255, 255, 1);
 }

 .subscribe-title {
   margin: 0 0 29px 0;
   padding: 0;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
 }

 .subscribe-description {
   display: block;
   margin: 0 auto 46px;
   max-width: 446px;
 }

 .subscribe-form {
   display: flex;
 }

 .subscribe-form input[type=email] {
   flex-grow: 1;
   font: inherit;
   padding: 0 0 0 22px;
   background: #F2F2F2;
   border-radius: 10px 0 0 10px;
   border: none;
 }

.subscribe-form input[type=email]::placeholder {
  font: inherit;
 }

.subscribe-form input[type=email]:hover {
  background-color: #e6e6e6e8;
 }

.subscribe-form input[type=email]:focus-visible {
  margin-right: 2px;
}

.subscribe-form input[type=email]:focus {
  background-color: #e6e6e6e8;
 }

.subscribe-form input[type=email]:disabled {
  background-color: rgba(196, 196, 196, 0.64);
  color: black;
 }

 .button-subscribe {
   min-width: 200px;
   padding: 12px 0;
   font-size: 20px;
   line-height: 36px;
   background-color: #82B3D3;
   border-radius: 0 10px 10px 0;
 }

/*footer*/
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-contacts-list {
  padding: 5px 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 284px;
}

.footer-contacts-link {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.footer-contacts-link svg {
  fill: #83B3D3;
}

.footer-contacts-link:hover svg {
  fill: #68A2CA;
}

.footer-contacts-link:focus svg{
  fill: #68A2CA;
}

.footer-contacts-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
}

.phone-number-link {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #000;
}

.phone-number-link:hover,
.phone-number-link:focus {
  color: #756157;
}

.phone-number-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-html-academy-link {
  display: flex;
  padding: 8px 0;
}

.footer-html-academy-link svg {
  fill: #000;
}

.footer-html-academy-link:hover svg,
.footer-html-academy-link:focus svg  {
  fill: #756157;
}

.footer-html-academy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/*catalog*/
.catalog-header {
  width: 100%;
  padding: 35px 70px 70px 70px;
  margin-bottom: 55px;
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-color: #396487;
  background-size: cover;
  color: #fff;
}

.catalog-title {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-item + .breadcrumbs-item:before {
  content: url("../images/icons/breadcrumbs-arrow-icon.svg");
 margin: 0 10px;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #fff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.home-link {
  width: 12px;
  height: 21px;
}

.breadcrumbs-link svg {
  fill: #fff;
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus svg {
  fill: #fff;
}

.breadcrumbs-link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

/*filters*/
.catalog-filters-form {
  display: flex;
  width: 100%;
}

.catalog-filter-group {
  padding: 0;
  border: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icons/checkbox-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: #3F5E72;
}

.catalog-filter-group-infrastructure .control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-group-infrastructure .control:active .control-mark {
  background-color:  rgba(255, 255, 255, 0.3);
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input:disabled + .control-mark {
  background-color: #919191;
}

.control-input:disabled:hover + .control-mark {
  background-color: #919191;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-group-infrastructure .catalog-filter-title {
  margin-bottom: 30px;
}

.catalog-filter-group-type .catalog-filter-title {
  margin-bottom: 30px;
}

.catalog-filter-group-price .catalog-filter-title {
  margin-bottom: 34px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) .control-input {
  margin-bottom: 15px;
}

.catalog-filter-group-infrastructure {
  width: 151px;
  margin: 0 70px 0 0;
}

.catalog-filter-group-type {
  width: 146px;
}

/*price*/
.catalog-filter-group-price {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  margin: 0 70px 0 auto;
}

.catalog-filter-title {
  margin-bottom: 34px;
}

.controls-price-wrapper {
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.control-min-price,
.control-max-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  padding: 0 14px 0 17px;
  border: 2px solid #FFFFFF;
}

.control-min-price {
  border-radius: 4px 0 0 4px;
  border-right-width: 0;
  margin-right: 2px;
}

.control-min-price:hover {
  opacity: 0.6;
  border-right-width: 2px;
  margin-right: 0;
 }

.control-min-price:hover + .control-max-price {
  border-left: 0;
  margin-left: 0;
}

.control-max-price {
  position: relative;
  z-index: 1;
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}

.control-max-price:hover {
  opacity: 0.6;
}

.control-max-price:focus-within,
.control-min-price:focus-within {
  background-color: #756257;
}

.control-min-price:focus-within,
.control-max-price:focus-within {
  opacity: 1;
  outline: none;
  box-shadow: 0 0 0 3px #81B3D2, inset 0 0 0 3px #81B3D2;
}

.control-price-input {
  all: unset;
  -moz-appearance: textfield;
  width: 50px;
}

.control-price-label {
  position: relative;
  top: -2px;
  opacity: 0.3;
}

/*remove default arrows*/
.control-price-input::-webkit-outer-spin-button,
.control-price-input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/*price range*/
.range-price-wrapper {
  display: flex;
  position: relative;
  width: 288px;
  height: 20px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0, #fff 0, #fff 75%, rgba(255, 255, 255, 0.3) 75%);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.control-price-range {
  width: 100%;
  height: 100%;
  appearance: none;
  background-color: transparent;
  margin: 0;
}

.price-max {
  position: absolute;
}

.control-price-range:not(:only-of-type) {
  pointer-events: none;
  right: 0;
}

.control-price-range::-moz-range-thumb {
  -moz-appearance: none;
  pointer-events: auto;
  border: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.control-price-range::-webkit-slider-thumb {
  appearance: none;
  pointer-events: auto;
  border: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.control-price-range::-moz-range-thumb:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.control-price-range::-webkit-slider-thumb:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.control-price-range::-moz-range-thumb:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.control-price-range::-webkit-slider-thumb:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.control-price-range:focus {
  outline: none;
}

.control-price-range:focus::-moz-range-thumb {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.control-price-range:focus::-webkit-slider-thumb {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/*apply-reset buttons*/
.form-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-apply-filters {
  background-color: #82B3D3;
  min-width: 160px;
  min-height: 48px;
  padding: 0;
}

.button-reset-filters {
  width: 100px;
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0;
  margin: 20px auto 0 auto;
}

.button-reset-filters:hover {
  opacity: 0.6;
}

.button-reset-filters:focus {
  outline: 3px solid #83B3D3;
}

.button-reset-filters:active {
  opacity: 0.3;
}

/*sort*/
.catalog-sort {
  display: flex;
  align-items: center;
  max-width: 1057px;
  margin: 0 71px 56px 72px;
}

.search-results-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-select {
  appearance: none;
  min-width: 160px;
  height: 49px;
  padding:0 20px ;
  font: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: transparent;
  background-image: url("../images/icons/select-arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.catalog-select:hover {
  border: 2px solid #68A2CA;
}

.catalog-select:focus {
  outline: none;
  border: 2px solid #68A2CA;
}

.catalog-select:active {
  border: 2px solid #3F5E72;
}

.catalog-sort-select {
  appearance: none;
  min-width: 290px;
  margin-left: 191px;
}

/*catalog view controls*/
.catalog-view-controls {
  padding: 0;
  margin: 0 0 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
  max-width: 160px;
}

.button-view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-view:hover {
  border: 2px solid #000;
}

.button-view:active {
  border: 2px solid #000;
}

.button-view:focus {
  outline: none;
  border: 2px solid #68A2CA;
}

.view-current {
  border: 2px solid #000;
}

/*hotels cards list*/
.catalog-hotels {
  margin-bottom: 66px;
}

.catalog-hotels-list {
  margin: 0 72px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
}

.catalog-hotel-card {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-image-link {
  display: block;
  padding: 0;
  text-decoration: 0;
  grid-column: 1 / -1;
}

.hotel-title-link {
  display: block;
  padding: 0;
  text-decoration: 0;
  color: #000;
  grid-column: 1 / -1;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-star-rating {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

.rating-star:not(:last-child) {
  margin-right: 6px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 9px 22px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.decoration-line {
  max-width: 100%;
  margin: 0 72px 30px;
  border: 1px solid #E6E6E6;
}

/*pagination*/
.catalog-pages-controls {
  display: flex;
  margin: 0 72px;
  justify-content: space-between;
}

.catalog-pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-pagination-item {
  margin-bottom: 8px;
}

.catalog-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-button {
  padding: 12px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.current-page {
  background-color: #F2F2F2;
  color: #000;
}

/*amount-controls*/
.catalog-amount-controls {
  display: flex;
  align-items: center;
}

.catalog-hotels-amount-text {
  display: block;
  margin-right: 51px;
}

.catalog-subscribe {
  text-align: center;
  background-image: none;
  background-color: inherit;
  color: #000;
}

/*modal*/
.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-open {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  width: 715px;
  padding: 62px 70px 70px;
  background-color: #fff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-title {
  margin: 0 0 63px 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  width: 53px;
  height: 53px;
  padding: 20px;
  top: 54px;
  right: 70px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:active {
  background-color: #E6E6E6;
}
.modal-close-button:active svg {
  opacity: 0.3;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button svg {
  fill: #000;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-form-label {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.date-label {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.date-label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../images/icons/calendar-icon.svg");
  background-repeat: no-repeat;
  top: 18px;
  right: 19px;
  opacity: 0.3;
}

.adults-label {
  margin-right: 64px;
}

.modal-form-input {
  position: relative;
  width: 420px;
  height: 50px;
  margin-left: auto;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding-left: 19px;
  color: #000;
}

.modal-form-input:hover {
  background-color: #E6E6E6;
}

.modal-form-input:focus:not(:placeholder-shown) {
  outline: none;
  background-color: #fff;
  border: 2px solid #000000;
}

.modal-form-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.date-input-success {
  display: block;
  position: relative;
  left: 155px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.date-input-error {
  display: block;
  position: relative;
  left: 155px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}

.modal-form-quantity-wrapper {
  display: flex;
  justify-content: space-between;
  width: 133px;
  padding: 13px 13px 12px 13px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.adults-wrapper {
  margin-right: 56px;
}

.quantity-input {
  -moz-appearance: textfield;
  flex-grow: 1;
  min-width: 20px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.quantity-input:focus {
  outline: 3px solid #83B3D3;
}

/*remove default arrows*/
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.quantity-button {
  display: flex;
  align-items: center;
  padding: 0 6px;
  background-color: transparent;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}

.quantity-button svg {
  opacity: 0.3;
}

.quantity-button:hover svg {
  opacity: 1;
}

.quantity-button:active svg {
  opacity: 0.2;
}

.quantity-button:focus  {
  opacity: 1;
  outline: none;
  border: 3px solid #83B3D3;
  padding: 0 3px;
  border-radius: 4px;
}

.button-tooltip {
  width: 25px;
  height: 25px;
  margin: 0 18px 0 6px;
  border-radius: 50%;
  background-color: #83B3D3;
  border: none;
}

.button-modal-submit {
  flex-grow: 1;
  margin-top: 40px;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 0;
}
