@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  color:#000;
  height: 100%;
}

.wrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100%;
}

.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #756157;
  cursor: pointer;
}

/*header*/
.navigation {
  font-weight: 700;
}

.navigation-link {
  color: inherit;
  text-decoration: none;
}

/*index*/
.main-index {
  flex: 1 1 100%;
  text-align: center;
}
.welcome {
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-color: #9ba4e5;
  background-size: 100% auto;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.advantages-promo {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.advantages-list {
  background-color: rgba(131, 179, 211, 0.12);
}

 .advantages-title {
   font-size: 24px;
   line-height: 28px;
   font-weight: 700;
   text-transform: uppercase;
 }

 .advantages-description {
   font-weight: 400;
 }

.advantages-item-blue {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 1);
}

.advantages-item-white {
   background-color: #fff;
 }

 .advantages-item-dark {
   background-color: rgba(131, 179, 211, 0.2);
 }

 .offer-title {
   font-size: 30px;
   font-weight: 700;
   line-height: 36px;
   text-transform: uppercase;
 }

 .offer-description {
   font-size: 22px;
   font-weight: 400;
   line-height: 26px;
 }

 .button-offer {
   font-size: 20px;
   line-height: 36px;
 }

 .subscribe {
   height: 411px;
   background-image: url("../images/subscribe-background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #85aaba;
   color: rgba(255, 255, 255, 1);
 }

 .subscribe-title {
   font-size: 30px;
   font-weight: 700;
   line-height: 36px;
   text-transform: uppercase;
 }

 .button-subscribe {
   font-size: 20px;
   line-height: 36px;
   background-color: #82B3D3;
 }

/*footer*/
.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
}

.phone-number-link {
  text-decoration: none;
  color: #000;
}

/*catalog*/
.catalog-header {
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-color: #396487;
  background-size: cover;
  color: #fff;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.button-apply-filters {
  background-color: #82B3D3;
}

.button-reset-filters {
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 400;
}

.button-add-favorite {
  background-color: #82B3D3;
}

.button-in-favorite {
  background-color: #7DB54F;
}

.catalog-subscribe {
  background-image: none;
  background-color: inherit;
  color: #000;
}

.search-results-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
